<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="25" />

    <application
        android:name="com.izzdarki.wallet.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- main activities -->
        <activity
            android:name="com.izzdarki.wallet.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.izzdarki.wallet.ui.cards.ShowCardActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.izzdarki.wallet.ui.cards.EditCardActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.izzdarki.wallet.ui.cards.ShowCardActivity" />
        </activity>
        <activity android:name="com.izzdarki.wallet.ui.passwords.ShowPasswordActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.izzdarki.wallet.ui.passwords.EditPasswordActivity"
            android:windowSoftInputMode="adjustResize"/>

        <!-- other activities -->
        <activity android:name="com.izzdarki.wallet.ui.secondary.GetContentImageActivity" />
        <activity android:name="com.izzdarki.wallet.ui.secondary.ImageCaptureActivity" />
        <activity android:name="com.izzdarki.wallet.ui.secondary.CodeScannerActivity" />
        <activity android:name="com.izzdarki.wallet.ui.secondary.CropActivity" />

        <!-- services -->
        <service
            android:name="com.izzdarki.wallet.services.ClearDirectoryService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.izzdarki.wallet.services.CreateExampleCardService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/fileprovider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>